Compare journies
================

Compare the travel time when I cycle home via the A3 vs when I come via Richmond Park.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# See Line Through Circle notebook for a description of these
def lines_cross(x1,x2,y1,y2) -> bool:

    a = x2[0]-x1[0]
    b = y1[0]-y2[0]
    c = x2[1]-x1[1]
    d = y1[1]-y2[1]

    Minv = 1 / (a*d - b*c) * np.array([[d, -b],[-c,a]])
    alpha_beta = Minv @ (y1 - x1)
    
    plt.plot([x1[0], x2[0]], [x1[1], x2[1]])
    plt.plot([y1[0], y2[0]], [y1[1], y2[1]])

    return all((0 <= alpha_beta )& (alpha_beta <= 1))

def get_circle_points(c,r,x1,x2):
    v = x1-x2
    u = (1 / np.sqrt(np.dot(v,v))) * np.array([[0,1],[-1,0]]) @ v

    c1 = c - r * u
    c2 = c + r * u
    
    return c1,c2

def does_line_go_through_circle(c,r,x1,x2):
    y1, y2 = get_circle_points(c,r,x1,x2)
    return lines_cross(x1,x2,y1,y2)

In [36]:
location_log = pd.read_csv("locations.csv").set_index("time")
location_log

                              entity_id   latitude  longitude
time
2022-05-06 03:15:07.110833  person.gaby  51.409610  -0.280304
2022-05-06 03:20:23.946649  person.gaby  51.409616  -0.280316
2022-05-06 03:24:58.453512  person.gaby  51.409622  -0.280314
2022-05-06 03:30:02.878928  person.gaby  51.409595  -0.280277
2022-05-06 03:38:07.624507  person.gaby  51.409629  -0.280312
...                                 ...        ...        ...
2022-10-23 10:38:46.192274  person.gaby  51.409737  -0.280182
2022-10-23 10:43:17.976969  person.gaby  51.409736  -0.280219
2022-10-23 10:44:48.313036  person.gaby  51.409736  -0.280214
2022-10-23 10:46:18.302846  person.gaby  51.409742  -0.280145
2022-10-23 10:49:59.107114  person.gaby  51.409731  -0.280122

[42850 rows x 3 columns]

In [37]:
LOCATIONS = {
    "imperial": (51.4996119163838, -0.1793120020929193),
    "home": (51.409812979622174, -0.28017411558994054),
    "richmond_park": (51.45393576302114, -0.2572030264957135),
    "A3": (51.446922160476056, -0.22615622806043198),
    
}
RADIUS = 100  # meters

# Latitude: 1 deg = 110.574 km
# Longitude: 1 deg = 111.320*cos(latitude) km
def latlong_vec_to_meters(lat, vec):
    lat = np.reshape(np.array(lat), (-1, 1))
    vec = np.reshape(np.array(vec), (-1, 2))
    
    cos_lat = np.cos(lat * np.pi / 180.0)
    conversion_mat = np.hstack([np.ones_like(vec[:,[0]])*110574, cos_lat * 111320])
    return (conversion_mat * vec).squeeze()

print(latlong_vec_to_meters(51.4996119163838, [1,1]))
print(latlong_vec_to_meters([51.4996119163838, 51.4996119163838], [[1,1], [0.5,0.5]]))

[110574.          69298.91944161]
[[110574.          69298.91944161]
 [ 55287.          34649.45972081]]

In [38]:
location_log["place"] = None

for place_name, place_coords in LOCATIONS.items():
    vecs_to_place_latlong = location_log.loc[:, ["latitude","longitude"]] - place_coords
    vecs_to_place_m = pd.DataFrame(
        latlong_vec_to_meters(location_log.loc[:,"latitude"], vecs_to_place_latlong),
        index=location_log.index,
        columns=["latitude","longitude"]
    )
    k_close = np.linalg.norm(vecs_to_place_m, axis=1) < RADIUS
    if any(location_log.loc[k_close, "place"].notna()):
        raise ValueError("Some locations are found twice")
    location_log.loc[k_close, "place"] = place_name

In [39]:
location_log

                              entity_id   latitude  longitude place
time
2022-05-06 03:15:07.110833  person.gaby  51.409610  -0.280304  home
2022-05-06 03:20:23.946649  person.gaby  51.409616  -0.280316  home
2022-05-06 03:24:58.453512  person.gaby  51.409622  -0.280314  home
2022-05-06 03:30:02.878928  person.gaby  51.409595  -0.280277  home
2022-05-06 03:38:07.624507  person.gaby  51.409629  -0.280312  home
...                                 ...        ...        ...   ...
2022-10-23 10:38:46.192274  person.gaby  51.409737  -0.280182  home
2022-10-23 10:43:17.976969  person.gaby  51.409736  -0.280219  home
2022-10-23 10:44:48.313036  person.gaby  51.409736  -0.280214  home
2022-10-23 10:46:18.302846  person.gaby  51.409742  -0.280145  home
2022-10-23 10:49:59.107114  person.gaby  51.409731  -0.280122  home

[42850 rows x 4 columns]

In [41]:
location_log["place"].unique()

array(['home', None, 'imperial', 'richmond_park', 'A3'], dtype=object)