# Plotting cycle to work times

In [1]:
#!pip install HASS-data-detective # Install detective

In [2]:
!pip show HASS-data-detective

Name: HASS-data-detective
Version: 2.4
Summary: Tools for studying Home Assistant data.
Home-page: https://github.com/robmarkcole/HASS-data-detective
Author: Robin Cole
Author-email: robmarkcole@gmail.com
License: MIT
Location: /usr/local/lib/python3.9/dist-packages
Requires: pandas, pytz, ruamel.yaml, SQLAlchemy
Required-by:

In [3]:
import detective.core as detective
import detective.functions as functions
import pandas as pd

db = detective.db_from_hass_config()

YAML tag !include_dir_merge_list is not supported
YAML tag !include_dir_merge_named is not supported
Successfully connected to database sqlite:////config/home-assistant_v2.db
There are 296 entities with data

First we extract all state changes for Gaby and Charles

In [4]:
people = ("person.charles","person.gaby",)
workplaces = ("Imperial", "Harris Westminster",)
results = db.fetch_all_data_of(people)
results.last_changed = pd.to_datetime(results.last_changed)
results.set_index('last_changed', inplace=True)
results.index.rename("time", inplace=True)
results.sort_index(inplace=True)
results

The returned Pandas dataframe has 29948 rows of data.

,domain,entity_id,state,attributes
time,,,,
2021-11-29 17:46:13.769858,person,person.gaby,home,"{""editable"":false,""id"":""gaby"",""latitude"":51.40..."
2021-11-30 07:51:31.218973,person,person.gaby,not_home,"{""editable"":false,""id"":""gaby"",""latitude"":51.41..."
2021-11-30 07:51:31.218973,person,person.gaby,not_home,"{""editable"":false,""id"":""gaby"",""latitude"":51.42..."
2021-11-30 07:51:31.218973,person,person.gaby,not_home,"{""editable"":false,""id"":""gaby"",""latitude"":51.43..."
2021-11-30 07:51:31.218973,person,person.gaby,not_home,"{""editable"":false,""id"":""gaby"",""latitude"":51.46..."
...,...,...,...,...
2022-02-23 09:00:09.403959,person,person.charles,Imperial,"{""editable"":false,""id"":""charles"",""latitude"":51..."
2022-02-23 09:00:09.403959,person,person.charles,Imperial,"{""editable"":false,""id"":""charles"",""latitude"":51..."
2022-02-23 09:00:09.403959,person,person.charles,Imperial,"{""editable"":false,""id"":""charles"",""latitude"":51..."
2022-02-23 09:00:09.403959,person,person.charles,Imperial,"{""editable"":false,""id"":""charles"",""latitude"":51..."
2022-02-23 09:00:09.403959,person,person.charles,Imperial,"{""editable"":false,""id"":""charles"",""latitude"":51..."

In [5]:
results['time'] = results.index
results = results.drop_duplicates(subset=('domain', 'entity_id', 'state', 'time')).drop(['time', 'attributes'], axis=1)
results

                            domain       entity_id               state
time
2021-11-29 17:46:13.769858  person     person.gaby                home
2021-11-30 07:51:31.218973  person     person.gaby            not_home
2021-11-30 08:12:10.004068  person  person.charles            not_home
2021-11-30 08:35:23.349953  person     person.gaby  Harris Westminster
2021-11-30 09:05:18.560750  person  person.charles            Imperial
...                            ...             ...                 ...
2022-02-23 08:11:18.961058  person     person.gaby      Central london
2022-02-23 08:26:41.385600  person  person.charles            not_home
2022-02-23 08:38:28.759979  person     person.gaby  Harris Westminster
2022-02-23 08:43:30.238519  person  person.charles      Central london
2022-02-23 09:00:09.403959  person  person.charles            Imperial

[761 rows x 3 columns]

Let's collect all journeys made between home and work and plot their times.

In [8]:
journeys = {person: pd.Series() for person in people}
for person, workplace in zip(people, workplaces):
    state_changes = results.loc[results.entity_id == person, 'state']
    for i in range(state_changes.shape[0]):
        if state_changes.iloc[i] == "home":
            try:
                for j in range(i+1, i+10):                
                    if state_changes.iloc[j] == workplace:
                        time_taken = state_changes.index[j] - state_changes.index[i+1]
                        journeys[person][state_changes.index[i+1]] = time_taken
                        break
            except IndexError:
                break
journeys

/tmp/ipykernel_590/771486441.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  journeys = {person: pd.Series() for person in people}

{'person.charles': 2021-12-01 07:57:35.007636   0 days 00:50:40.043258
 2021-12-01 08:21:09.399516   0 days 00:27:05.651378
 2021-12-04 22:05:06.231756   1 days 11:14:37.987962
 2021-12-05 10:43:00.004677   0 days 22:36:44.215041
 2021-12-05 15:56:53.686584   0 days 17:22:50.533134
                                       ...
 2022-02-19 17:59:25.308511   1 days 14:28:15.262488
 2022-02-21 07:46:00.023187   0 days 00:41:40.547812
 2022-02-22 08:30:45.004486   0 days 01:12:39.741364
 2022-02-22 09:04:40.127216   0 days 00:38:44.618634
 2022-02-23 08:26:41.385600   0 days 00:33:28.018359
 Length: 74, dtype: timedelta64[ns],
 'person.gaby': 2021-11-30 07:51:31.218973   0 days 00:43:52.130980
 2021-12-01 07:50:55.005667   0 days 00:45:59.463352
 2021-12-01 17:52:40.006965   0 days 14:53:51.386767
 2021-12-01 19:27:00.006600   0 days 13:19:31.387132
 2021-12-02 08:01:20.007401   0 days 00:45:11.386331
                                       ...
 2022-02-19 11:11:11.796257   1 days 21:25:15.499031
 2022-02-19 17:58:30.005559   1 days 14:37:57.289729
 2022-02-21 07:49:31.274649   0 days 00:46:56.020639
 2022-02-22 07:54:45.004557   0 days 00:46:30.587152
 2022-02-23 07:51:11.875781   0 days 00:47:16.884198
 Length: 82, dtype: timedelta64[ns]}

Assume that all journeys take between 0 and 2 hours.

In [9]:
for person, data in journeys.items():
    journeys[person] = data[data < pd.Timedelta("2h")]
journeys

{'person.charles': 2021-12-01 07:57:35.007636   0 days 00:50:40.043258
 2021-12-01 08:21:09.399516   0 days 00:27:05.651378
 2021-12-06 08:11:25.004807   0 days 01:08:19.214911
 2021-12-07 08:11:34.343564   0 days 00:40:16.763523
 2021-12-08 08:01:55.005118   0 days 00:44:34.046320
 2021-12-10 08:01:50.008044   0 days 00:43:02.572110
 2021-12-14 08:08:35.722627   0 days 00:34:49.539846
 2021-12-15 08:46:20.003604   0 days 00:35:12.292766
 2021-12-17 08:45:25.008022   0 days 00:30:12.939139
 2022-01-05 09:41:45.003108   0 days 00:31:23.804613
 2022-01-06 09:49:01.875421          0 days 00:00:00
 2022-01-07 08:59:40.004605   0 days 00:45:39.289461
 2022-01-10 07:59:25.004391   0 days 00:31:30.255313
 2022-01-11 08:44:02.199154   0 days 00:48:38.136084
 2022-01-11 08:58:54.061405   0 days 00:33:46.273833
 2022-01-14 08:33:05.004208   0 days 00:43:49.153675
 2022-01-17 07:52:00.022947   0 days 01:05:28.371603
 2022-01-18 08:53:05.003766   0 days 00:39:46.390159
 2022-01-19 08:42:35.004711   0 days 00:38:49.380126
 2022-01-20 08:26:20.004279   0 days 00:40:35.307719
 2022-01-21 08:16:05.004020   0 days 00:49:32.321385
 2022-01-31 07:48:45.003552   0 days 01:03:33.240586
 2022-02-01 08:30:07.733148   0 days 00:52:28.857526
 2022-02-02 08:57:50.488983   0 days 00:35:09.604186
 2022-02-03 08:12:20.003141   0 days 00:35:12.903881
 2022-02-04 07:47:50.004070   0 days 00:40:04.421809
 2022-02-07 08:43:14.855237   0 days 00:38:59.424150
 2022-02-08 09:02:57.208586   0 days 00:22:19.091681
 2022-02-09 09:14:32.402953   0 days 00:33:03.038984
 2022-02-11 14:26:57.668661   0 days 00:47:44.127253
 2022-02-14 08:03:39.169003   0 days 00:31:44.395981
 2022-02-15 08:06:50.005767   0 days 00:50:34.045271
 2022-02-16 08:00:40.005414   0 days 01:05:04.542955
 2022-02-17 07:58:32.724291   0 days 00:28:49.122877
 2022-02-18 09:04:50.005288   0 days 01:05:25.364740
 2022-02-21 07:46:00.023187   0 days 00:41:40.547812
 2022-02-22 08:30:45.004486   0 days 01:12:39.741364
 2022-02-22 09:04:40.127216   0 days 00:38:44.618634
 2022-02-23 08:26:41.385600   0 days 00:33:28.018359
 dtype: timedelta64[ns],
 'person.gaby': 2021-11-30 07:51:31.218973   0 days 00:43:52.130980
 2021-12-01 07:50:55.005667   0 days 00:45:59.463352
 2021-12-02 08:01:20.007401   0 days 00:45:11.386331
 2021-12-03 08:03:30.004080   0 days 00:43:07.270770
 2021-12-07 08:19:10.007150   0 days 00:36:13.190228
 2021-12-08 08:02:15.004310   0 days 00:47:44.088594
 2021-12-09 08:16:20.019235   0 days 00:38:05.660430
 2021-12-10 08:01:10.007865   0 days 00:43:11.342344
 2021-12-13 07:58:52.905852   0 days 00:50:15.328061
 2021-12-14 07:50:10.016192   0 days 00:44:39.787810
 2021-12-15 07:51:42.915138   0 days 00:43:47.680839
 2021-12-16 08:03:05.005776   0 days 00:42:20.234326
 2022-01-04 07:55:35.917356   0 days 00:39:12.631515
 2022-01-05 07:50:37.625632   0 days 00:42:55.879585
 2022-01-06 07:59:50.004778   0 days 00:41:31.743080
 2022-01-07 08:04:40.004131   0 days 00:38:40.215559
 2022-01-10 07:58:05.004047   0 days 00:42:41.408011
 2022-01-11 07:53:49.984116   0 days 00:46:56.491100
 2022-01-12 07:53:50.235971   0 days 00:53:23.772754
 2022-01-13 07:51:24.515696   0 days 00:48:19.051035
 2022-01-14 08:02:45.005305   0 days 00:40:40.176926
 2022-01-17 07:50:40.003965   0 days 00:47:08.505656
 2022-01-19 07:58:18.432280   0 days 00:50:25.133407
 2022-01-20 07:52:24.065169   0 days 00:47:44.588237
 2022-01-21 07:48:45.004658   0 days 00:46:23.796512
 2022-01-21 07:52:56.319618   0 days 00:42:12.481552
 2022-01-24 08:07:29.081182   0 days 00:46:59.367290
 2022-01-25 08:04:46.635035   0 days 00:45:20.774721
 2022-01-26 07:56:50.618659   0 days 00:43:52.351702
 2022-01-27 07:51:41.701095   0 days 00:47:19.892655
 2022-01-28 07:48:05.007054   0 days 00:54:08.793830
 2022-01-31 07:53:25.004611   0 days 00:45:20.547626
 2022-02-01 07:57:30.017488   0 days 00:45:40.243018
 2022-02-02 07:51:15.004630   0 days 00:46:52.860549
 2022-02-03 07:55:50.301486   0 days 00:47:17.568402
 2022-02-04 07:48:30.004120   0 days 00:48:43.565156
 2022-02-05 07:56:39.545600   0 days 00:39:36.899609
 2022-02-07 07:56:11.449064   0 days 00:46:58.170990
 2022-02-08 07:49:48.275285   0 days 00:46:23.683677
 2022-02-09 07:53:26.251629   0 days 00:45:22.918047
 2022-02-09 19:41:50.016300   0 days 00:00:10.131799
 2022-02-10 07:52:28.508114   0 days 00:46:17.440603
 2022-02-11 08:10:40.132655   0 days 00:44:53.986125
 2022-02-12 08:00:15.004252   0 days 00:39:25.448506
 2022-02-21 07:49:31.274649   0 days 00:46:56.020639
 2022-02-22 07:54:45.004557   0 days 00:46:30.587152
 2022-02-23 07:51:11.875781   0 days 00:47:16.884198
 dtype: timedelta64[ns]}

At some point, I added Wimbledon as a location so that I could distuinguish between train and bike journeys. When was this?